version: 2
updates:
  - package-ecosystem: "pub" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
    interval: daily
    time: "04:00"
    open-pull-requests-limit: 99
